.logo-container {
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;

    max-width: 150px;
  }

  img + img {
    margin-top: 15px;
  }
}
.copyright-logo {
  vertical-align: top;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.copyright-logo {
  vertical-align: top;
  font-size: 0.8rem;
}

.alert {
  transition: 0.3s;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}
