<div class="sidebar-container bg-primary" [class.menu-collapsed]="smallResolution | async"  *ngIf="isLoggedIn | async">
  <div class="sidebar-content">
    <h3 class="logo logo-full">BinhoSystem</h3>
    <h3 class="logo logo-min">BS</h3>
    <div class="user-informations">
      <img class="user-img" src="/assets/images/user.jpg" />
      <span class="user-name">Admin admin</span>
      <span class="user-email">teste.admin@gmail.com</span>
    </div>
    <ul class="list-group user-icon">
      <li class="list-group-item">
        <i class="fas fa-user"></i>
      </li>
    </ul>
    <div class="divider"></div>
    <ul class="list-group">
      <li class="list-group-item"
        [class.selected]="item.selected"
        *ngFor="let item of menuItems; let i = index"
        (click)="selectItem(i)">
        <span class="menu-icon">
          <i class="fas fa-{{ item.icon }}"></i>
        </span>
        <span class="menu-text">{{ item.label }}</span>
        <ng-container *ngIf="item.childrens">
          <span class="icon-container"
            [class.rotate-180]="item.selected">
            <i class="fa fa-chevron-down">
            </i>
          </span>
          <ul class="list-group list-group-dropdown"
            [class.collapsed]="!item.selected">
            <li class="dropdown-list-item" *ngFor="let children of item.childrens">
              <span class="menu-icon">
                <i class="fas fa-{{ children.icon }}"></i>
              </span>
              <span class="menu-text">{{ children.label }}</span>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
