/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap');

*:not(code) {
  font-family: 'Montserrat', sans-serif;
}