<div class="icon-back-container">
  <div class="d-inline cursor-pointer" (click)="goToLogin()">
    <i class="fa fa-chevron-left"></i>
  </div>
</div>
<h2>Registrar-se</h2>
<form [formGroup]="formGroup">
  <mat-form-field class="w-100">
    <input matInput placeholder="Nome" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="E-mail" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="w-100">
    <input
      type="password"
      matInput
      placeholder="Senha"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field class="w-100">
    <input
      type="password"
      matInput
      placeholder="Confirmação de senha"
      formControlName="name"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Enviar
  </button>
</form>
